# Dependencies
node_modules/
.pnpm-store/
pnpm-lock.yaml

# Build outputs
dist/
.turbo/
.output/
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Test
coverage/
.nyc_output/

# Local env files
.env.local
.env.*.local

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
packages/@core/composables/node_modules
packages/@core/ui-kit/*/node_modules
internal/vite-config/node_modules
internal/*/node_modules
